<div class="testemonials-slider flex justify-center" [appStoryblok]="_editable">
  <div class="max-w-2xl w-full mx-4">
    <splide [options]="{
      type: 'fade',
      rewind: true,
      autoplay: true,
      variableWidth: true,
      autoWidth: true,
      autoHeight: true
    }"
    >
      <splide-slide *ngFor="let item of items">
        <ndc-dynamic
          [ndcDynamicComponent]="components[item.component]"
          [ndcDynamicInputs]="item"
        >
        </ndc-dynamic>
      </splide-slide>
    </splide>
  </div>
</div>
